<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/style.css" />
		<title>Chat App</title>
	</head>
	<body>
        <%- include('header'); -%>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> ChatCord</h1>
			</header>
			<main class="join-main">

				<form method="POST" action="room">
					<label for="roomName">Room &nbsp Name</label>
					<input
						type="text"
						name="roomName"
						id="roomname"
						placeholder="Enter RoomName..."
						required
					/>
					<input type="submit" vlaue="Create Room"></form>
				<p>-------------------------------or---------------------------</p>

				<form action="chat.html" method="GET">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<% for(i=0;i<room.length;i++) { %>
							<option>
								<%=room[i].roomName %>
							</option>
							<% } %>
						</select>
					</div>
					<button type="submit" class="btn btn-info">Join Chat</button>
				</form>
			</main>
		</div>
		<script src="js/room.js"></script>
	</body>
</html>
